.smaller-width {
    width: 83%;
    margin-left: 18%; /* Adjust the width value as per your requirement */
  }
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  