<app-shared-nav  [buttons]="buttons"></app-shared-nav><div class="main-content  ">
  <div class="container-fluid ">
<div class="row  ">
  <div class="col-md-3 pt-5 ">
    <app-min-nav></app-min-nav>
  </div>


          <div class="col-md-8">
            <div class="card mt-5 mb-5">
                <div class="card">
                    <div class="card-header cardhead">
                        <h4 class="card-title">DepositeAuthentications</h4>
                        <p class="card-category">Complete your depositeauthentications</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="addDepositeAuthentication()">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-6 form-field">
                                <input placeholder="" type="text" name="bank" [(ngModel)]="addDepositeAuthenticationRequest.bank">
                                <label>Bank</label>
                              </div>
                              <div class="col-md-6 form-field">
                                <input  placeholder="" type="text" name="bankBranch" [(ngModel)]="addDepositeAuthenticationRequest.bankBranch">
                                <label>Bank Branch</label>
                              </div>  
                            </div>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-6 form-field">
                                <input placeholder="" type="text" name="tinNumber" [(ngModel)]="addDepositeAuthenticationRequest.tinNumber">
                                <label>Tin Number</label>
                              </div>
                              <div class="col-md-6 form-field">
                                <input  placeholder=" " name="bankAccount" [(ngModel)]="addDepositeAuthenticationRequest.bankAccount" type="text" required>
                                <label>Bank Account</label>
                              </div>
                            </div>
                          </div>
                          
                 
                    <div> <button type="button" class="btn btn-sm btnsave" (click)="addDepositeAuthentication()">save Deposite Autentication</button>
                    </div>
                         <div *ngIf="depositeauthenticationSaved" class="alert alert-success mt-3">
                        depositeauthentication added successfully!
                       </div> <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <h6>Deposit Authentication List</h6>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Bank</th>
        <th>Bank Branch</th>
        <th>Bank Account</th>
        <th>TIN Number</th>
      </tr>
    </thead>
    <tbody>
      <!-- Use *ngFor to loop through the depositeauthentications array and display each deposit authentication record -->
      <tr >
        <td>{{ depositeAuthentication.bank }}</td>
        <td>{{ depositeAuthentication.bankBranch }}</td>
        <td>{{ depositeAuthentication.bankAccount }}</td>
        <td>{{ depositeAuthentication.tinNumber }}</td>
        <td>
          <button class="btn btn-sm btnedit" (click)="editDepositeAuthentication(depositeAuthentication)">Edit</button>
          <button class="btn btn-sm btndanger" (click)="deleteDepositeAuthentication(depositeAuthentication)">Delete</button></td>
      </tr>
    </tbody>
  </table>
    </div>
   </div></div>
</div>
</div>

