<app-shared-nav  [buttons]="buttons"></app-shared-nav><div class="main-content  ">
  <div class="container-fluid ">
<div class="row  ">
  <div class="col-md-3 pt-5 ">
    <app-min-nav></app-min-nav>
  </div>


          <div class="col-md-8">
            <div class="card mt-5 mb-5">
                <div class="card">
                    <div class="card-header cardhead">
                        <h4 class="card-title">DepositeAuthentications</h4>
                        <p class="card-category">Complete your depositeauthentications</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="addDepositeAuthentication()">
                          <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                       
                          <input  class="form-control" placeholder="Bank" type="text" name="bank" [(ngModel)]="addDepositeAuthenticationRequest.bank">
                       
                      </div>
                      <div class="col-md-6">
                        
                          <input  class="form-control" placeholder="Bank Branch" type="text" name="bankBranch" [(ngModel)]="addDepositeAuthenticationRequest.bankBranch">
                      
                      </div>  
                    </div>
               </div>
               <div class="card-body">
               <div class="row">
                       <div class="col-md-6">
                           
                              <input  class="form-control"  placeholder="Tin Number" type="text" name="tinNumber" [(ngModel)]="addDepositeAuthenticationRequest.tinNumber">
                            
                          </div>
                        <div class="col-md-6">
                         
                            <input  class="form-control"  placeholder="Bank Account" name="bankAccount" [(ngModel)]="addDepositeAuthenticationRequest.bankAccount "type="text"required>
                        
                        </div>
                     
                      </div>
                    
                      </div>
                 
                    <div> <button type="button" class="btn btn-sm btnsave" (click)="addDepositeAuthentication()">Add Emergency Contact</button>
                    </div>
                         <div *ngIf="depositeauthenticationSaved" class="alert alert-success mt-3">
                        depositeauthentication added successfully!
                       </div> <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <h6>Deposit Authentication List</h6>
  <table class="table">
    <thead>
      <tr>
        <th>Bank</th>
        <th>Bank Branch</th>
        <th>Bank Account</th>
        <th>TIN Number</th>
      </tr>
    </thead>
    <tbody>
      <!-- Use *ngFor to loop through the depositeauthentications array and display each deposit authentication record -->
      <tr *ngFor="let auth of depositeauthentications">
        <td>{{ auth.bank }}</td>
        <td>{{ auth.bankBranch }}</td>
        <td>{{ auth.bankAccount }}</td>
        <td>{{ auth.tinNumber }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editDepositeAuthentication(auth)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteDepositeAuthentication(auth)">Delete</button></td>
      </tr>
    </tbody>
  </table>
    </div>
   </div></div>
</div>
</div>

