.cardhead{
    background-color: rgb(224, 224, 217);
}
.btnsave{
    background-color: #76a53b;
  }
  .btnedit{
    background-color: rgb(153, 146, 139);
    color:rgb(255, 255, 255)
  }
  .btndelete{
    background-color: rgb(240, 72, 72);
    color: white;
  }