.cardhead{
    background-color: rgb(224, 224, 217);
}
.btnsave{
    background-color: #76a53b;
  }
  .btnedit{
    background-color: #76a53b;;
    color:rgb(22, 20, 20);
    font-weight: 600;
font-size:small;
border-style:groove;

border-radius: 10%;
  } 
   .btndanger{
color: rgb(22, 21, 21);
font-weight: 600;
font-size:small;
border-style:groove;

border-radius: 10%;
background-color:#fcc034 ;

  }
  form-field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-field input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;
    font-size: 16px;
  }
  
  .form-field label {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 14px;
    color: #747070;
    pointer-events: none;
    transition: 0.2s ease all;

  }
  
  .form-field input:focus ~ label,
  .form-field input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 5px;
    font-size: 14px;
    color: #9f9fa3;
    background-color: #fff;
    padding: 0 5px;
  }
  
  