
<app-shared-nav class="sharednav"[buttons]="buttons"></app-shared-nav>

 <div class="col-md-9">
    <div class="card  mb-5">
      <div class="card">
        <div class="card-header cardhead">
          <h4 class="card-title">Leave Request</h4>
          <p class="card-category">Complete your LeaveRequest</p>
        </div>
        <div class="card-body">
        
          <form (ngSubmit)="addleaveRequest()">
            
            <div class="card-body">
              <div>
                
              </div>
              <div class="row">
           
                <div class="col-md-4 form-field">
                  <mat-select placeholder="Select Employee" name="selectedEmployee" required [(ngModel)]="selectedEmployee">
                    <mat-option *ngFor="let employee of employees" [value]="employee.empId">
                      {{ employee.firstName + ' ' + employee.middleName + ' ' + employee.lastName }}
 
                    </mat-option>
                  </mat-select>
                  
                </div>
                
                <div class="col-md-4 form-field">
                  <mat-select placeholder="Select Leave Type" name="selectedLeaveType" required [(ngModel)]="selectedLeaveType">
                    <mat-option *ngFor="let leaveType of leaveTypes" [value]="leaveType.leaveTypeId">
                      {{leaveType.leaveTypeName}}
                    </mat-option>
                  </mat-select>
                  
                </div>
              </div>
            </div>          <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field style="height: 65px; width:160px"  class="example-full-width">
                    <input matInput [matDatepicker]="fromPicker" placeholder="Start Date" name="from" [(ngModel)]="leaveRequest.startDate">
                    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromPicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field style="height: 65px; width:160px" class="example-full-width">
                    <input matInput [matDatepicker]="toPicker" placeholder="End Date" name="to" [(ngModel)]="leaveRequest.endDate">
                    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                    <mat-datepicker #toPicker></mat-datepicker>
                  </mat-form-field>
                </div>
                </div>
              </div> 
              <div>
          
                 
                <button type="button" class="btn btn-sm btnsave" *ngIf="leaveRequest.id===undefined" (click)="addleaveRequest()">Add</button>
                       
                <div *ngIf="leaveRequestSaved" class="btndanger btn-sm pull-right">
          Added successfully!
                </div></div>

                <h6>Leave Request History</h6>
                <table   *ngIf="leaveRequest" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Employee</th>
                      <th>Leave Type</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                      <th>ApprovedBy</th>
                      <th>ApprovedDate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Use *ngFor to loop through the leaveRequests array and display each leaveRequest record -->
                    <tr *ngFor="let leaveRequest of leaveRequests" >
                      <td>{{ getEmployeeName(leaveRequest.empId)}}</td>
                      <td>{{ getLeaveTypeName(leaveRequest.leaveTypeId) }}</td>
                      <td>{{ leaveRequest.startDate }}</td>
                      <td>{{ leaveRequest.endDate }}</td>
                      <td>{{ leaveRequest.status }}</td>
                      <td>{{ leaveRequest.approvedBy }}</td>
                      <td>{{ leaveRequest.approvedDate}}</td>
                      <td>
                        <button class="btn btn-sm btnedit" (click)="editleaveRequest(leaveRequest)">
                          <mat-icon>edit</mat-icon>Edit</button>
                        <button class="btn btn-sm btndanger" (click)="deleteleaveRequest(leaveRequest)">
                          <mat-icon>delete</mat-icon>Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              
                <!-- Add Work Experience Form -->
               
                <!-- Work Experience Table -->
               
              
  
                
       
 