<app-shared-nav  [buttons]="buttons"></app-shared-nav>
  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    <mat-form-field >
                        <mat-label>Filter</mat-label>
                        <input matInput placeholder="Search employees" [(ngModel)]="searchTerm" (keyup)="onSearch()">
                    </mat-form-field>
                    <div class="card-header cardhead">
                        <h4 class="card-title ">Employee Table</h4>
                        <div class=" ">
                           </div>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped mat-table"  *ngIf="filteredEmployees || employees ">

                               <div> <thead>
                                    <tr>
                                        
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Sex</th>
                                        <th>ECXID</th>
                                        <th>Pension Id</th>
                                        <th>firstSupervisor</th>
                                        <th>secondSupervisor</th>
                            
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let employee of employees || filteredEmployees">
                                        <td>{{employee.firstName}}</td>
                                        <td>{{employee.middleName}}</td>
                                        <td>{{employee.sex}}</td>
                                            <td>{{employee.ecxId}}</td>
                                        <td>{{employee.pensionNo}}</td>
                                     
                                       <td>{{getFirstSupervisorName(employee.firstSupervisor)}}</td>
                                       <td>{{getSecondSupervisorName(employee.secondSupervisor)}}</td>
                                    
                                      <td>
                                          <button class="btn btn-sm btnedit" (click)="editEmployee(employee)">Edit</button>

                                            <button  class="btn btn-sm btn-danger" (click)="deleteEmployee(employee.empId)">Delete</button>
                                           </td>
                                    
                                    </tr>
                                </tbody></div>
                            </table>
                            <p *ngIf="!filteredEmployees && !employees">no employees found</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  