
<app-shared-nav  [buttons]="buttons"></app-shared-nav>
  <div class="main-content">
    <div class="container-fluid">
        <input  class="search" type="search" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearch()">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
             
                       
                     
                   
                    <div class="card-header cardhead">
                        <h4 class="card-title ">Employee Table</h4>
                        <div class=" ">
                           </div>
                    </div>
                    
                    <div >
                        <div class="col-md-12" >
                            <table class="table  table-striped col-md-8"   *ngIf="filteredEmployees.length || employees.length ">

                               <div> <thead>
                                    <tr>
                                        
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Sex</th>
                                        <th>ECXID</th>
                                        <th>Pension Id</th>
                                        <th>First Supervisor</th>
                                        <th>Second Supervisor</th>
                            
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let employee of filteredEmployees || employees  " >
                                        <td>{{employee.firstName}}</td>
                                        <td>{{employee.middleName}}</td>
                                        <td>{{employee.sex}}</td>
                                        <td>{{employee.ecxId}}</td>
                                        <td>{{employee.pensionNo}}</td>
                                     
                                       <td>{{getFirstSupervisorName(employee.firstSupervisor)}}</td>
                                       <td>{{getSecondSupervisorName(employee.secondSupervisor)}}</td>
                                    
                                      
                                  <td><button class="btn btn-sm btnedit" (click)="editEmployee(employee)">
                                    <mat-icon>edit</mat-icon>Edit</button></td>

                                  <td> <button  class="btn btn-sm btndanger" (click)="deleteEmployee(employee.empId)">
                                    <mat-icon>delete</mat-icon>Delete</button>
                        </td> 
                                   
                                         
                                    
                                    </tr>
                                        </tbody>
                            </div>
                            </table>
                            <p *ngIf="!(filteredEmployees.length || employees.length)">No employees found</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  