<app-shared-nav  [buttons]="buttons"></app-shared-nav><div class="main-content  ">
    <div class="container-fluid ">
  <div class="row  ">
    <div class="col-md-3 pt-5 ">
      <app-min-nav></app-min-nav>
    </div>
    <div class="col-md-9">
      <div class="card  mb-5">
        <div class="card">
          <div class="card-header cardhead">
            <h4 class="card-title">work Experience</h4>
            <p class="card-category">Complete your work Experience</p>
          </div>
          
            <!-- Work Experience Form -->
            <div class="card-body">
            <form (ngSubmit)="addWorkExperience()">
              <div class="card-body">
  <div class="row">
    <div class="col-md-4 form-field">
      <input  placeholder="" type="text" name="companyName" [(ngModel)]="addWorkExperienceRequest.companyName">
      <label>Company Name</label>
    </div>
    <div class="col-md-4 form-field">
      <input  placeholder=" " type="text" name="postionHeld" [(ngModel)]="addWorkExperienceRequest.postionHeld">
      <label>Position Held</label>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-4 form-field">
      <input  placeholder="" type="text" name="description" [(ngModel)]="addWorkExperienceRequest.description">
      <label>Description</label>
    </div>
    <div class="col-md-4 form-field">
      <input  placeholder=" " type="text" name="salary" [(ngModel)]="addWorkExperienceRequest.salary">
      <label>Salary Amount</label>
    </div>
    <div class="col-md-4 form-field">
      <input  placeholder="" type="text" name="reasonTermination" [(ngModel)]="addWorkExperienceRequest.reasonTermination">
      <label>Reason for Termination</label>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field style="height: 65px; width:160px" class="example-full-width">
        <input matInput [matDatepicker]="fromPicker" placeholder=" " name="from" [(ngModel)]="addWorkExperienceRequest.from">
        <mat-label>Start Date</mat-label>
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field style="height: 65px; width:160px" class="example-full-width">
        <input matInput [matDatepicker]="toPicker" placeholder=" " name="to" [(ngModel)]="addWorkExperienceRequest.to">
        <mat-label>End Date</mat-label>
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>

              <button type="button" class="btn btn-sm btnsave" (click)="addWorkExperience()">
                <mat-icon>add</mat-icon>Add</button>
              <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save Work Experience</button>
               -->
              <div *ngIf="workExperienceSaved" class=" btndanger btn-sm pull-right">
              Added successfully!
              </div>
              <div class="clearfix"></div></form>
          </div>
        </div>
        <!-- qualification.component.html -->
  
  <div class="container">
    
  
 
  
    <!-- Add Work Experience Form -->
   
    <!-- Work Experience Table -->
    <h6>Work Experience History</h6>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Position Held</th>
          <th>From</th>
          <th>To</th>
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop through the workExperiences array and display each work experience record -->
        <tr *ngFor="let workExperience of workExperiences">
          <td>{{ workExperience.companyName }}</td>
          <td>{{ workExperience.postionHeld }}</td>
          <td>{{ workExperience.from }}</td>
          <td>{{ workExperience.to }}</td>
          <td>
            <button class="btn btn-sm btnedit"  (click)="editWorkExperience(workExperience)">
              <mat-icon>edit</mat-icon>Edit</button>
            <button class="btn btn-sm btndanger" (click)="deleteWorkExperience(workExperience)">
              <mat-icon>delete</mat-icon>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
  
      </div>
    </div>
  </div>
  