<app-shared-nav  [buttons]="buttons"></app-shared-nav><div class="main-content  ">
    <div class="container-fluid ">
  <div class="row  ">
    <div class="col-md-3 pt-5 ">
      <app-edit-nav></app-edit-nav>
    </div>
  
  
            <div class="col-md-8">
              <div class="card mt-5 mb-5">
                  <div class="card">
                      <div class="card-header cardhead">
                          <h4 class="card-title">DepositeAuthentications</h4>
                          <p class="card-category">CEdityour depositeauthentications</p>
                      </div>
                      <div class="card-body">
                          <form (ngSubmit)="updateDepositeAuthentication()">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-6 form-field">
                                  <input placeholder=" " type="text" name="bank" [(ngModel)]="depositeAuthentication.bank">
                                  <label>Bank</label>
                                </div>
                                <div class="col-md-6 form-field">
                                  <input  placeholder=" " type="text" name="bankBranch" [(ngModel)]="depositeAuthentication.bankBranch">
                                  <label>Bank Branch</label>
                                </div>  
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-6 form-field">
                                  <input placeholder=" " type="text" name="tinNumber" [(ngModel)]="depositeAuthentication.tinNumber">
                                  <label>Tin Number</label>
                                </div>
                                <div class="col-md-6 form-field">
                                  <input  placeholder=" " name="bankAccount" [(ngModel)]="depositeAuthentication.bankAccount" type="text" required>
                                  <label>Bank Account</label>
                                </div>
                              </div>
                            </div>
                   
                    
                      <div> <button type="button" class="btn btn-sm btnsave" *ngIf="depositeAuthentication.id!=undefined" (click)="updateDepositeAuthentication()">Update </button>
                      </div>
                           <div *ngIf="depositeAuthenticationUpdated" class="alert alert-success mt-3">
                          depositeauthentication updated successfully!
                         </div> 
                          <button type="button" class="btn btn-sm btnsave" *ngIf="depositeAuthentication.id===undefined" (click)="addDepositeAuthentication()">Add</button>
                     
                              <div *ngIf="depositeauthenticationSaved" class="alert alert-success mt-3">
                             depositeauthentication added successfully!
                            </div>
                  </form>
              </div>
          </div>
          <h6>Deposit Authentication List</h6>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Bank</th>
          <th>Bank Branch</th>
          <th>Bank Account</th>
          <th>TIN Number</th>
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop through the depositeauthentications array and display each deposit authentication record -->
        <tr *ngFor="let depositeAuthentication of depositeAuthentications" >
          <td>{{depositeAuthentication.bank }}</td>
          <td>{{ depositeAuthentication.bankBranch }}</td>
          <td>{{depositeAuthentication.bankAccount }}</td>
          <td>{{ depositeAuthentication.tinNumber }}</td>
          <td>
            <button class="btn btn-sm btnedit" (click)="editDepositeAuthentication(depositeAuthentication)">Edit</button>
            <button class="btn btn-sm btndanger" (click)="deleteDepositeAuthentication(depositeAuthentication)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
     </div></div>
  </div>
  </div>
  
  