<app-shared-nav  [buttons]="buttons"></app-shared-nav><div class="main-content  ">
    <div class="container-fluid ">
  <div class="row  ">
    <div class="col-md-3 pt-5 ">
      <app-min-nav></app-min-nav>
    </div>
    <div class="col-md-9">
      <div class="card  mb-5">
        <div class="card">
          <div class="card-header cardhead">
            <h4 class="card-title">Education</h4>
            <p class="card-category">Complete your Education</p>
          </div>
          <div class="card-body">
          
            <form (ngSubmit)="addEducation()">
              
              <div class="card-body">
                <div>
                  
                </div>
                <div class="row">
                  <div class="col-md-4 form-field">
                    <input  placeholder="" type="text" name="nameOfInstitute" [(ngModel)]="addEducationRequest.nameOfInstitute" required>
                    <label>Institution Name</label>
                  </div>
                  <div class="col-md-4 form-field">
                    <input  placeholder="" type="text" name="fieldOfStudy" [(ngModel)]="addEducationRequest.fieldOfStudy">
                    <label>Field Of Study</label>
                  </div>
                  <div class="col-md-4 form-field">
                    <mat-select placeholder="Select education level" name="selectedEducationLevel" required [(ngModel)]="selectedEducationLevel">
                      <mat-option *ngFor="let educationlevel of educationlevels" [value]="educationlevel.id">
                        {{educationlevel.educationName}}
                      </mat-option>
                    </mat-select>
                    
                  </div>
                </div>
              </div>          <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field style="height: 65px; width:160px"  class="example-full-width">
                      <input matInput [matDatepicker]="fromPicker" placeholder="Start Date" name="from" [(ngModel)]="addEducationRequest.from">
                      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                      <mat-datepicker #fromPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field style="height: 65px; width:160px" class="example-full-width">
                      <input matInput [matDatepicker]="toPicker" placeholder="End Date" name="to" [(ngModel)]="addEducationRequest.to">
                      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                      <mat-datepicker #toPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  </div>
                </div> 
              <button type="button" class="btn btn-sm btnsave" (click)="addEducation()">
                <mat-icon>add</mat-icon>Add Education</button>
             
              <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save Education</button>
              -->
              <div *ngIf="educationSaved" class="alert alert-success mt-3">
                Education added successfully!
              </div>
            </form>
  </div>
            <!-- Work Experience Form -->
            </div>
        <!-- qualification.component.html -->
  
  <div class="container">
    
  
  
    <!-- Education Table -->
    <h6>Education History</h6>
    <table  *ngIf="educations.length>=1"  class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Education Level</th>
          <th>Name of Institute</th>
          <th>Field of Study</th>
          <th>From</th>
          <th>To</th>
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop through the educations array and display each education record -->
        <tr >
          <td>{{ getEducationName(education.eductionName)}}</td>
          <td>{{ education.nameOfInstitute }}</td>
          <td>{{ education.fieldOfStudy }}</td>
          <td>{{ education.from }}</td>
          <td>{{ education.to }}</td>
          <td>
            <button class="btn btn-sm btnedit" (click)="editEducation(education)">
              <mat-icon>edit</mat-icon>Edit</button>
            <button class="btn btn-sm btndanger" (click)="deleteEducation(education)">
              <mat-icon>delete</mat-icon>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Add Work Experience Form -->
   
    <!-- Work Experience Table -->
   
  
  </div>
  
      </div>
    </div>
  </div>
  