


  <app-shared-nav [buttons]="buttons"></app-shared-nav> 
  <div class="row" > 
      

 
  <form (ngSubmit)="addSupervisor()"> 
    <div class="row" > 
      
      <div class="col-md-3" style="margin-left: 10px;"> 
        <div class="form-group"> 
        
          <mat-form-field style="height: 65px; width:200px"  > 
            <mat-label>Select position</mat-label> 
            <mat-select placeholder="Select position" name="selectedposition" required [(ngModel)]="selectedPosition"> 
              <mat-option *ngFor="let position of positions" [value]="position.positionId"> 
                {{ position.name }}  
              </mat-option> 
            </mat-select> 
          </mat-form-field> 
        </div> 
        </div> 
      <div class="col-3"> 
        <div class="form-group"> 
      
    <mat-form-field style="height: 65px; width:200px" > 
      <mat-label>Select Supervisor</mat-label> 
      <mat-select [(ngModel)]="addSupervisorRequest.supervisorLevel" name="supervisorLevel" required> 
        <mat-option value="First Supervisor">First Supervisor</mat-option> 
        <mat-option value="Second Supervisor">Second Supervisor</mat-option> 
        <mat-option value="Third Supervisor">Third Supervisor</mat-option> 
        <mat-option value="Fourth Supervisor">Fourth Supervisor</mat-option> 
        <mat-option value="Fifth Supervisor">Fifth Supervisor</mat-option> 
      </mat-select> 
    </mat-form-field> 
        </div> 
      </div> 
      
     
     
     
     
    </div> 
    <button style="margin-left: 10px;" type="submit" class="btn btn-sm btnsave">Save</button> 
    </form> 
 
   
    <h6 class="mb-3"> 
        Supervisor 
    </h6> 
    <div class="row" > 
      
      <div class="col-md-8" style="margin-left: 20px;"> 
<table id="example1" class="table table-bordered table-striped" *ngIf="supervisors&& supervisors.length>0"> 
    <thead> 
        <tr> 
            <th>position Name</th> 
         
            <th> supervisor Level</th> 
            
 
        </tr> 
    </thead> 
    <tbody> 
        <tr *ngFor="let supervisor of supervisors"> 
          <td>{{ getpositionName(supervisor.positionId) }}</td>
            <td>{{supervisor.supervisorLevel}}</td>
         
            <td>   
              <button  class="btn btn-sm btndanger" (click)="deleteSupervisor(supervisor.id)">
                <mat-icon>delete</mat-icon></button>
              </td>
       
        </tr> 
    </tbody> 
</table> 
<p *ngIf="!supervisors || supervisors.length <= 0">no supervisors found</p>
</div></div></div>