.btnedit{
  background-color: #76a53b;;
  color:rgb(22, 20, 20);
  font-weight: 600;
font-size:small;
border-style:groove;

border-radius: 10%;
}  .btndanger{
color: rgb(22, 21, 21);
font-weight: 600;
font-size:small;
border-style:groove;

border-radius: 10%;
background-color:#fcc034 ;

}
  .btnupdate {
    background-color: #76a53b;
  .cardhead{
    background-color: rgb(224, 224, 217);
  }
  .form-field {
    position: relative;
  }
  
  .form-field input:not(:placeholder-shown) + label,
  .form-field input:focus + label {
    transform: translateY(-120%) scale(0.8);
    color: #4f5152;
  }
  
  .form-field input,
  .form-field mat-form-field {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 5px 0;
    width: 100%;
  }
  
  .form-field label {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 5px;
    transition: 0.2s ease all;
    font-size: 14px;
    color: #696666;
  }
  
  ::ng-deep .mat-datepicker-content .mat-calendar {
    width: 229px!important;
    height: 300px!important;
  }}