<div class="custom-modal">
  <div class="col-md-12">
    <div class="employee-details" *ngIf="employeeData ">
        <div class="container-fluid">
       
              <!-- Selected Column -->
           
                
                <h6>Employee Details</h6>
                <!-- Content for selected column -->
              </div>
          
              <!-- Tables Column -->
           
                <div class="row">
                    <div class="col-md-6 card"> 
                    <p class="card-head">Contact</p>
                    <!-- Table for addresses -->
                    <div class="table-responsive ">
                      <table *ngIf="employeeData.addresses" class="table table-border table-striped col-md-6 compact-table">
                        <thead>
                          <tr>
                            <th>Region</th>
                            <th>Town</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Post Code</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="employeeData.addresses">
                            <td>{{ employeeData.addresses.region }}</td>
                            <td>{{ employeeData.addresses.town }}</td>
                            <td>{{ employeeData.addresses.phoneNumber }}</td>
                            <td>{{ employeeData.addresses.email }}</td>
                            <td>{{ employeeData.addresses.postCode }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
          
                  <div class="col-md-6 card">
                    <p class="card-head">Emergency Contact</p>
                    <!-- Table for emergency contacts -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.emergencyContacts" class="table table-border table-striped compact-table">
                        <thead>
                          <tr>
                            <td>Name</td>
                            <td>Phone Number</td>
                            <td>Relationship</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let contact of employeeData.emergencyContacts">
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.phoneNumber }}</td>
                            <td>{{ contact.relationship }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-6 card">
                    <p class="card-head">Spouse</p>
                    <!-- Table for spouse -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.spouses" class="table table-border table-striped compact-table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Date of Birth</th>
                            <th>Relationship</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let spouse of employeeData.spouses">
                            <td>{{ spouse.name }}</td>
                            <td>{{ spouse.dateOfBirth| date:'yyyy-MM-dd' }}</td>
                            <td>{{ spouse.relationship }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div class="col-md-6 card">
                    <p class="card-head">Education</p>
                    <!-- Table for education -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.educations" class="table table-border  table-striped compact-table">
                        <thead>
                          <tr>
                            <th>Education Level</th>
                            <th>Name of Institute</th>
                            <th>Field of Study</th>
                            <th>From</th>
                            <th>To</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let education of employeeData.educations">
                            <td>{{getEducationName(education.eductionName)}}</td>
                            <td>{{ education.nameOfInstitute }}</td>
                            <td>{{ education.fieldOfStudy }}</td>
                            <td>{{ education.from| date:'yyyy-MM-dd' }}</td>
                            <td>{{ education.to | date:'yyyy-MM-dd'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div class="col-md-6 card">
                    <p class="card-head">Employee Position</p>
                    <!-- Table for employee position -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.employeePositions" class="table table-border table-striped  compact-table">
                        <thead>
                          <tr>
                            <th>Division</th>
                            <th>Position</th>
                            <th>Step</th>
                            <th>Branch</th>
                            <th>Start Date</th>
                          </tr>
                        </thead>
               
            <tbody>
              <tr *ngIf="employeeData.employeePositions">
                <td>{{ getDivisionName(employeeData.employeePositions.divisionId) }}</td>
                <td>{{ getPositionName(employeeData.employeePositions.position) }}</td>
                <td>{{ getStepName(employeeData.employeePositions.stepId) }}</td>
                <td>{{ getBranchName(employeeData.employeePositions.branchId) }}</td>
                <td>{{ employeeData.employeePositions.startDate}}</td>
              </tr>
            </tbody>
          </table> </div>
                  </div>
                  <div class="col-md-6 card">
                    <p class="card-head">Work Experience</p>
                    <!-- Table for work experience -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.workExperiences" class="table table-border compact-table">
                        <thead>
                          <tr>
                            <th>Company Name</th>
                            <th>Position Held</th>
                            <th>From</th>
                            <th>To</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let workExperience of employeeData.workExperiences">
                            <td>{{ workExperience.companyName }}</td>
                            <td>{{ workExperience.postionHeld }}</td>
                            <td>{{ workExperience.from | date:'yyyy-MM-dd'}}</td>
                            <td>{{ workExperience.to | date:'yyyy-MM-dd'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div class="col-md-6 card">
                    <p class="card-head">Training</p>
                    <!-- Table for training -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.trainings" class="table table-border table-striped col-md-6 compact-table">
                        <thead>
                          <tr>
                            <th>Type of Training</th>
                            <th>From</th>
                            <th>To</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let training of employeeData.trainings">
                            <td>{{ training.typeOfTraining }}</td>
                            <td>{{ training.from| date:'yyyy-MM-dd' }}</td>
                            <td>{{ training.to| date:'yyyy-MM-dd' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div class="col-md-6 card">
                    <p class="card-head">Annual Leave</p>
                    <!-- Table for annual leave -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.annualLeaveBalances" class="table table-border table-striped compact-table">
                        <thead>
                          <tr>
                            <th>Annual Start Date</th>
                            <th>Annual End Date</th>
                            <th>Annual Default</th>
                            <th>Annual Remaining</th>
                            <th>Previous Annual</th>
                            <th>Previous Two Year</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let leaveBalance of employeeData.annualLeaveBalances">
                            <td>{{ leaveBalance.startDate | date:'yyyy-MM-dd' }}</td>
                            <td>{{ leaveBalance.endDate | date:'yyyy-MM-dd' }}</td>
                            <td>{{ leaveBalance.annualDefaultBalance }}</td>
                            <td>{{ leaveBalance.annualRemainingBalance }}</td>
                            <td>{{ leaveBalance.previousYearAnnualBalance }}</td>
                            <td>{{ leaveBalance.previousTwoYear }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div class="col-md-6 card">
                    <p class="card-head">Other Leaves</p>
                    <!-- Table for other leaves -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.otherLeaveBalances" class="table table-border compact-table">
                        <thead>
                          <tr>
             
                                       
  <th scope="col">Employee</th>
  <th scope="col">Sick Leave Default</th>
  <th scope="col">Sick Leave Remainig</th>
  <th scope="col">Sick LeaveStart Date</th>
  <th scope="col">Sick Leave End Date</th> 
  <th scope="col">Marraige Leave Default</th>
  <th scope="col">Marraige Leave Remainig</th>
  <th scope="col">Paternity Leave Default</th>
  <th scope="col">Paternity Leave Remainig</th>
  <th scope="col">Maternity Leave Default</th>
  <th scope="col">Maternity Leave Remainig</th>
  <th scope="col">compasionate Leave Default</th>
  <th scope="col">compasionate Leave Remainig</th>
  <th scope="col">Education Leave Default</th>
  <th scope="col">Education Leave Remainig</th>
  <th scope="col">LeaveWithOutPay Default</th>
  <th scope="col">LeaveWithOutPay Remainig</th>
  <th scope="col">Court Leave Default</th>
  <th scope="col">Court Leave  Remainig</th>
  <th scope="col">Abortion Leave Default</th>
  <th scope="col">Abortion Leave  Remainig</th>
</tr>
                       
                        </thead>
                        <tbody>
                          <tr *ngFor="let otherLeaveBalance of employeeData.otherLeaveBalances">
                           
                            <td>{{ otherLeaveBalance.sickDefaultBalance }}</td>
                            <td>{{ otherLeaveBalance.sickRemainingBalance }}</td>
                            <td>{{ otherLeaveBalance.startDate| date:'yyyy-MM-dd' }}</td>
                            <td>{{ otherLeaveBalance.endDate| date:'yyyy-MM-dd' }}</td>
                   
                            <td>{{ otherLeaveBalance.marriageDefaultBalance }}</td>
                            <td>{{ otherLeaveBalance.marriageRemainingBalance}}</td>
                            
                            <td>{{ otherLeaveBalance.paternityDefaultBalance}}</td>
                            <td>{{ otherLeaveBalance.paternityRemainingBalance}}</td>
                        
                              <td>{{ otherLeaveBalance.maternityDefaultBalance}}</td>
                       
                                <td>{{ otherLeaveBalance.maternityRemainingBalance}}</td>
                                <td>{{ otherLeaveBalance.compassinateDefaultBalance}}</td>
                  
                                <td>{{ otherLeaveBalance.compassinateRemainingBalance}}</td>
                                <td>{{ otherLeaveBalance.educationDefaultBalance}}</td>
                                <td>{{ otherLeaveBalance.educationRemainingBalance}}</td>
                                <td>{{ otherLeaveBalance.leaveWotPayDefaultBalance}}</td>
                                <td>{{ otherLeaveBalance.leaveWotPayRemainingBalance}}</td>
                                <td>{{ otherLeaveBalance.courtLeaveDefaultBalance}}</td>
                                <td>{{ otherLeaveBalance.courtLeaveRemainingBalance}}</td>
                                <td>{{ otherLeaveBalance.abortionLeaveDefaultBalance}}</td>
                                <td>{{ otherLeaveBalance.abortionLeaveRemainingBalance}}</td>
                             
                           <!-- Add similar data cells for other leave types -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div class="col-md-6 card">
                    <p class="card-head">Leave Request</p>
                    <!-- Table for leave requests -->
                    <div class="table-responsive">
                      <table *ngIf="employeeData.leaveRequests" class="table table-border table-responsive table-striped  compact-table">
                        <thead>
                          <tr>
                            <th>Leave Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Approved By</th>
                            <th>Approved Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let leaveRequest of employeeData.leaveRequests">
                            <td>{{  getLeaveTypeName(leaveRequest.leaveTypeId) }}</td>
                            <td>{{ leaveRequest.startDate | date:'yyyy-MM-dd' }}</td>
                            <td>{{ leaveRequest.endDate | date:'yyyy-MM-dd' }}</td>
                            <td>{{ leaveRequest.status }}</td>
                            <td>{{ leaveRequest.approvedBy }}</td>
                            <td>{{ leaveRequest.approvedDate | date:'yyyy-MM-dd' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
      </div>
    </div>
       
</div>


    <button (click)="printEmployeeDetails()">Print</button>
    <button (click)="onCancelClick()">Cancel</button>
  </div>
