<app-shared-nav  [buttons]="buttons"></app-shared-nav><div class="main-content  ">
  <div class="container-fluid ">
<div class="row  ">
  <div class="col-md-3 pt-5 ">
    <app-min-nav></app-min-nav>
  </div>

  <div class="col-md-8">
    <div class="card mt-5 mb-5">
      <div class="card">
        <div class="card-header cardhead">
          <h4 class="card-title">Training</h4>
          <p class="card-category">Complete your Qualification</p>
        </div>
        <div class="card-body">
        
          <form (ngSubmit)="addTraining()">
            
            <div class="row"> 
              <div class="card-body">
           
              <div class="col-md-6 ">
               
                  <input  class="form-control" placeholder="Type Of Training" type="text" name="typeOfTraining" [(ngModel)]="addTrainingRequest.typeOfTraining">
              
              </div>
            
            </div>
            <div class="card-body">
              <div class="row"> 
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="fromPicker" placeholder="Start Date" name="from" [(ngModel)]="addTrainingRequest.from">
                  <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                  <mat-datepicker #fromPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="toPicker" placeholder="End Date" name="to" [(ngModel)]="addTrainingRequest.to">
                  <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                  <mat-datepicker #toPicker></mat-datepicker>
                </mat-form-field>
              </div>
              </div>
            </div>
              <!-- Add more training form fields here... -->
            </div>
            <div><button type="button" class="btn btn-sm btnsave" (click)="addTraining()">Add Training</button>
       </div>
                 <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save Training</button>
             -->
            <div *ngIf="trainingSaved" class="alert alert-success mt-3">
              Training added successfully!
            </div>
            <div class="clearfix"></div></form>
        </div>
      </div>
      <h6>Training Records</h6>
      <table class="table">
        <thead>
          <tr>
            <th>Type of Training</th>
            <th>From</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          <!-- Use *ngFor to loop through the trainings array and display each training record -->
          <tr *ngFor="let training of trainings">
            <td>{{ training.typeOfTraining }}</td>
            <td>{{ training.from }}</td>
            <td>{{ training.to }}</td>
            <td> <button class="btn btn-sm btn-primary" (click)="editTraining(training)">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="deleteTraining(training)">Delete</button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
