:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  mat-drawer {
    width: 230px;
  }
  
  mat-drawer-container {
    height: 85%;
  }
  
  mat-drawer-content {
    padding: 10px;
    margin: 10px;
  }
 


@media (max-width: 576px) {


 
  .sidebar {
      width: 100px;
  }

}

@media (max-width: 992px) {
  .sidebar {
      width: 200px;
  }

}

@media (max-width: 1200px) {
  .sidebar {
      width: 230px;
  }
 

}



 