<app-shared-nav  [buttons]="buttons"></app-shared-nav><div class="main-content  ">
  <div class="container-fluid ">
<div class="row  ">
  <div class="col-md-3 pt-5 ">
    <app-min-nav></app-min-nav>
  </div>


          <div class="col-md-8">
            <div class="card mt-5 mb-5">
                <div class="card">
                    <div class="card-header cardhead">
                        <h4 class="card-title">Emergency Contacts</h4>
                        <p class="card-category">Complete your emergencycontacts</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="addEmergencyContact()">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        
                          <input  class="form-control" placeholder="name" type="text" name="name" [(ngModel)]="addEmergencyContactRequest.name">
                        
                      </div>
                      <div class="col-md-4">
                        
                          <input  class="form-control" placeholder="Relationship" type="text" name="relationship" [(ngModel)]="addEmergencyContactRequest.relationship">
                        
                      </div>
                        <div class="col-md-4">
                         
                            <input  class="form-control" placeholder="Region" name="region" [(ngModel)]="addEmergencyContactRequest.region "type="text"required>
                          
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                           
                              <input class="form-control" placeholder="Town" type="text" name="town" [(ngModel)]="addEmergencyContactRequest.town">
                            
                          </div>
                        <div class="col-md-4">
                          
                            <input class="form-control" placeholder="Subcity" type="text" name="subcity" [(ngModel)]="addEmergencyContactRequest.subCity">
                         
                        </div>
                        <div class="col-md-4">
                          
                            <input class="form-control" placeholder="kebele" type="text" name="kebele" [(ngModel)]="addEmergencyContactRequest.kebele" >
                          
                        </div>
                       </div>
                      </div>
                         
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">
                           
                              <input class="form-control" placeholder="House Number" type="text" name="houseNumber" [(ngModel)]="addEmergencyContactRequest.houseNo">
                           
                          </div>
                          
                          <div class="col-md-4">
                           
                              
                              <input class="form-control" placeholder="+251 XXX XXX XXX" name="phoneNumber" [(ngModel)]="addEmergencyContactRequest.phoneNumber" required>
                           
                            <mat-error *ngIf="!addEmergencyContactRequest.phoneNumber && emergencycontactForm.get('phoneNumber').touched">
                              Phone Number is required
                            </mat-error>
                          </div>
                 
               </div>
                  </div>
                 
                    <div> <button type="button" class="btn btn-sm btnsave" (click)="addEmergencyContact()">Add Emergency Contact</button>
                    </div>
                         <div *ngIf="emergencycontactSaved" class="alert alert-success mt-3">
                        emergencycontact added successfully!
                       </div> <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <h6>Emergency Contact List</h6>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Relationship</th>
      </tr>
    </thead>
    <tbody>
      <!-- Use *ngFor to loop through the emergencycontacts array and display each emergency contact record -->
      <tr *ngFor="let contact of emergencycontacts">
        <td>{{ contact.name }}</td>
        <td>{{ contact.phoneNumber }}</td>
        <td>{{ contact.relationship }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editEmergencyContact(contact)">Edit</button>
    <button class="btn btn-sm btn-danger" (click)="deleteEmergencyContact(contact)">Delete</button>
  </td>
      </tr>
    </tbody>
  </table>
    </div>
   </div></div>
</div>
</div>

