<app-shared-nav  [buttons]="buttons"></app-shared-nav><div class="main-content  ">
    <div class="container-fluid ">
  <div class="row  ">

            <div class="col-md-9 ">
              <div class="card  mb-5" >
              <div class="card"   >
                  <div class="card-header cardhead" >
                      <h4 class="card-title">Leave Balance</h4>  </div>
                    
  <div class="container" >
  
    <table  *ngIf="leaveBalance"  class="table table-bordered table-striped" >
      <thead> 
         <tr><td><button class="btn btn-sm btndanger" (click)="addLeaveBalancesForSelectedEmployees()">
            <mat-icon>perm_data_setting</mat-icon> Generate </button></td></tr> 
        <tr>
        
          <th>Unregistered Employees</th>
          
  
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop through the leaveBalances array and display each employee position -->
        <tr *ngFor="let emp of selectedEmployee"  >
            <td>{{emp.firstName }}</td>
            <td>{{emp.middleName }}</td>
            <td>{{emp.lastName }}</td>
          
        </tr>
       
      </tbody>
    </table>
    <p *ngIf="!(selectedEmployee.length || selectedEmployee.length)">No Unregistered Leave Balance found</p>

  </div>
            
              </div>  
                  <div class="card-body " >
          <input  class="search" type="search" placeholder="Search Employee..." [(ngModel)]="searchTerm" (input)="onSearch()">
                
                  </div>
              <!-- jobdescription.component.html -->
  
  <div class="container" >
    <h6>Leave Balance</h6>
    <table  *ngIf="leaveBalance"  class="table table-bordered table-striped" >
      <thead>
        <tr>
        
          <th>Employee</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Annual</th>
          <th>Privious Annual</th>
          <th>Sick</th>
          <th>Sick Expire Date</th>
          <th>Maternity</th>
          <th>Paternity</th>
          <th>Compassinate</th>
          <th>Education</th>
          <th>Marraiage</th>
          <th>With out pay</th>
          <th>Court</th>
  
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to loop through the leaveBalances array and display each employee position -->
        <tr *ngFor="let leaveBalance of filteredLeaveBalances"  >
            <td>{{ getEmployeeName( leaveBalance.empId) }}</td> 
              <td>{{ leaveBalance.startDate }}</td>
          <td>{{ leaveBalance.endDate }}</td>
          <td>{{ leaveBalance.annualDefaultBalance }}</td>
          <td>{{ leaveBalance.previousYearAnnualBalance }}</td>
          <td>{{ leaveBalance.sickRemainingBalance }}</td>
             <td>{{ leaveBalance.maternityRemainingBalance }}</td>
          <td>{{ leaveBalance.paternityRemainingBalance }}</td>
          <td>{{ leaveBalance.compassinateRemainingBalance }}</td>    
          <td>{{ leaveBalance.educationRemainingBalance }}</td>
          <td>{{ leaveBalance.marraiageRemainingBalance }}</td>
          <td>{{ leaveBalance.leaveWotPayRemainingBalance }}</td>
          <td>{{ leaveBalance.courtLeaveRemainingBalance }}</td>
          <td>{{ leaveBalance.sickEndDate }}</td>
       
      
         
        </tr>
      </tbody>
    </table>
    <p *ngIf="!(filteredLeaveBalances.length || leaveBalances.length)">No Leave Balance found</p>

  </div>
  
          </div>
         
      </div>
  </div>
  
  