/* You can add global styles to this file, and also import other style files */


.btnsave{
    background-color: #76a53b;
    font-weight: bold;
  }
      
  .btnedit{
    background-color: #76a53b;
    color:rgb(22, 20, 20);

  } 
   .btndanger{
color: rgb(22, 21, 21);

background-color:#fcc034 ;

  }