
<app-shared-nav class="sharednav"[buttons]="buttons"></app-shared-nav>
    <div class="card col-md-10 mb-5 ml-5">
      <div class="card">
        <div class="card-header  cardhead">
          <h4 class="card-title  ">Approved Leaves</h4>
   
        </div>
    
                <table   *ngIf="approvedLeaves" class="table table-bordered table-striped compact-table">
                  <thead>
                    <tr>
                      <th>Employee</th>
                      <th>Leave Type</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                      <th>Position</th> 
                   
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Use *ngFor to loop through the leavePendings array and display each leavePending record -->
                    <tr *ngFor="let Pending of approvedLeaves" >
                      <td>{{ getEmployeeName(Pending.empId)}}</td>
                      <td>{{ getLeaveTypeName(Pending.leaveTypeId) }}</td>
                      <td>{{ Pending.startDate| date:'yyyy-MM-dd' }}</td>
                      <td>{{ Pending.endDate| date:'yyyy-MM-dd' }}</td>
                      <td>{{ Pending.leaveStatus }}</td>
                      <td>{{ getPosition(Pending.empId) | async }}</td>

                      <td>  <button class="btn btn-sm " (click)="fetchAndDisplayPDF(Pending)" [ngStyle]="{'font-size': '12px', 'padding': '4px 8px'}"
                        style="background-color: rgb(224, 224, 217); color: #0c0c0c; border: none;  cursor: pointer; border-radius: 5px;"  download="filename.pdf" >
                        <mat-icon>get_app</mat-icon></button></td>
        
                      <td>
                     
                         
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              
       
 