


<app-shared-nav [buttons]="buttons"></app-shared-nav> 
 
 
  <form (ngSubmit)="addstep()"> 
    <div class="row " style="margin-left: 15px; margin-top:25px;"> 
      
      <div class="col-md-3"> 
        <div > 
          <mat-form-field style="height: 65px; width:160px"  > 
            <mat-label>Select Grade</mat-label> 
            <mat-select placeholder="Select Grade Level" name="selectedGrade" required [(ngModel)]="selectedGrade"> 
              <mat-option *ngFor="let grade of grades" [value]="grade.levelId"> 
                {{ grade.description }} 
              </mat-option> 
            </mat-select> 
          </mat-form-field> 
        </div> 
        </div> 
      <div class="col-md-3"> 
        <div class="form-field"> 
      
          <input  id="stepDescription" rows="1" required placeholder=" "  name="description" [(ngModel)]="addStepRequest.description" name="description" required>
            <label for="stepDescription">Step Description</label> </div> 
      </div> 
      <div class="col-md-2"> 
        <div class="form-field"> 
         
          <input type="text"  id="salary" required placeholder=" "  name="name" [(ngModel)]="addStepRequest.salary" name="salary" required> 
        <label for="Salary">Salary</label>  </div> 
      </div> 
     
     
     
     
    </div> 
    <button type="submit" class="btn btn-sm btnsave">Save</button> 
    </form> 
 
    
    <h6 class="mb-3"> 
        Step 
    </h6> 
    
 
 
   
<table id="example1" class="table table-bordered table-striped"> 
  <thead> 
  <tr> 
    <th>Grade Level</th>
    <th>Description</th>
     <th>Salary</th>
    
  </tr> 
  </thead> 
   <tbody> 
    <tr *ngFor="let step of steps"> 
      <td>{{ getGradeName(step.levelId) }} </td>
      <td>{{step.description}}</td>
      <td>{{step.salary}}</td>
    
 
      <td>   
        <button  class="btn btn-sm btn-danger" (click)="deleteStep(step.id)">Delete</button>
    </td> 
    
      <!-- <td> <a [routerLink]="['/step','edit',step.id]">  
          View 
          </a> 
      </td> --> 
  </tr> 
    </tbody> 
</table> 
 
<p *ngIf="!steps || steps.length <= 0">no steps found</p>